.plain-button-wrap {
  display: inline-block;
  height: 32px;
  border-radius: 5px;

  .swim-button {
    &-box {
      height: 32px;
      padding: 5px 16px;
      overflow: visible;
      color: #2a2f3c;
      font-weight: 400;
      line-height: 32px;
      background-color: white;
      box-shadow: none;

      &:before {
        background-color: var(--primary-color);
      }

      &:after {
        border-color: rgba(188, 193, 205, 0.5);
        opacity: 1;
      }

      &:hover {
        color: #fff;
        &:after {
          border-color: #2b65f4;
        }
      }
    }
  }
}
